extends layout

block content
    h1 Boston

    tr Tmperature : #{temp_f}
    br
    br
    tr Condition : #{wx_desc}
    br   
    br 
    th Latitude : #{lat}
    br
    br 
    th Longitude : #{lon}
  
