<!DOCTYPE html>
<html lang="en">
<head>
   <script src="Scripts/angular.min.js"></script>
   <script src="Scripts/app.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller="myCtrl">
    <form>
      Test the length of input string at least 1:
      <br>
      <input type="text" name="name" ngModel minlength="1" required>
      <br>

      <input type="submit" value="check" ng-click="submit()">
    </form>

  </div>
  <div style="text-align: center;" >
    <h2 *ngIf="true">
      Welcom to {{title}}</h2>
      <h2 *ngIf="false">
        I am {{name}}
      </h2>

      <app-employee></app-employee>


  </div>

</body>
