extends layout

block content
    h1 Boston

    tr Tmperature : #{temp_f}
    br
    br
    tr Condition : #{wx_desc}
    br   
    br 
    th Latitude : #{lat}
    br
    br 
    th Longitude : #{lon}
  
    body
    form(action='/ps6/results', method='POST')
        p
        | title: 
        input(type='text', name='mongoTem', value='')
        |          year: 
        input(type='text', name='mongoCon', value='')
        |          imdb: 
        input(type='text', name='mongoLat', value='')
        |          imdb: 
        input(type='text', name='mongoLon', value='')
        input(type='submit', value='Submit')