extends layout

block content
  
    h2 Boston 
    p The latitude is #{lat}
    p The longitude is #{lon}
    p The temperature is #{temp_f}
    P The condition is #{wx_desc}


    form(method='POST' action='/ps6/result')
        h2 Boston
        
        p lat: 
        input(type='text' name = 'Lat' required='')
        p long:
        input(type='text' name = 'Lon' required='')
        p temp:
        input(type='text' name = 'Temp' required='')
        p cond: 
        input(type='text' name = 'Cond' required='')
        p

        input(type='submit' value='Confirmed')

